.App {
  background-color: #030303;
  font-size: 16px;
  color: #ffffff;
  font-family: 'Poppins';
  text-align: center;
}

.login {
  padding: 150px 0;
}

.dashboard {
  padding: 30px;
}

.dashHead {
  padding: 20px;
  width: 600px;
}

.dashContent {
  width: 600px;
}

.question {
  width: 300px;
  text-align: left;
}

h1 {
  font-size: 32px;
  width: 600px;
  margin: 0 auto; 
  font-weight: bold;
}

.part {
  margin: 10px 0;
  display: flex;
  justify-content: left;
  align-items: center;
}

.button {
  background-color: #6741D9;
  border: 1px solid #6741D9;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  width: 600px;
  font-weight: bold;
}

.button1 {
  color: white;
  border: 1px solid #ffffff;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  width: 300px;
  font-weight: bold;
}

.button2 {
  border: 1px solid #ffffff;
  border-radius: 10px;
  margin: 2px;
  padding: 10px;
  width: 70px;
  font-weight: bold;
}

.button:hover {
  border-color: #F0C3F1;
}

.button:active {
  border-color: #F0C3F1;
}

.login-input {
  margin: 30px;
}

input {
  border: #FFFFFF 1px solid;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  width: 600px;
  background-color: black;
  color: white;
}

.bar {
  background-color: #F0C3F1;
}

.bar-axis, .markings {
  background-color: #FFFFFF;
}

.graph-container {
  justify-content: center;
  width: 600px;
}

.radio {
  background-color: #FFFFFF;
}

input[type=radio] { 
  accent-color: #6741D9; 
} 

.radio-button {
  width: 40px;
  margin: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.charge {
  display: flex;
}

.yes-no {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 50px;
}

.save {
  margin-top: 30px;
}
